---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Fike not found">
    <main>
        <!--Logo-->
        <h1>404</h1>
        <h2>Quick SVG Icon Resizer</h2>
    </main>
</Layout>

<style>
    h1,
    h2 {
        text-align: center;
        color: hsl(0, 0%, 100%);
        font-family: "Roboto Mono", monospace;
    }

    h1 {
        font-size: 3rem;
        margin: 20px 0px 0px 0px;
    }

    h2 {
        margin: 10px;
    }
</style>
