---
export interface Props {
    title: string;
}

const { title } = Astro.props;
const base = import.meta.env.BASE_URL;
---

<head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <base href={base} />
    <link rel="preconnect" href="https://cdn.fonts.coollabs.io" crossorigin />
    <link
        rel="icon"
        type="image/x-icon"
        href={base + "favicon.ico"}
        sizes="any"
    />
    <link rel="icon" type="image/svg+xml" href={base + "favicon.svg"} />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="reScaler - Quick SVG Icon Resizer" />
    <meta
        name="twitter:description"
        content="Small Lightweight Tool scratched in Pure JavaScript to Quickly Resize and Convert SVG to PNG"
    />
    <meta name="twitter:image:src" content="/assets/rescaler-poster.png" />
    <meta name="twitter:creator" content="@redwerkz" />
    <meta name="twitter:url" content="https://zkrew.red/rescaler/" />
    <meta property="og:title" content="reScaler - Quick SVG Icon Resizer" />
    <meta
        property="og:description"
        content="Small Lightweight Tool scratched in Pure JavaScript to Quickly Resize and Convert SVG to PNG"
    />
    <meta property="og:url" content="https://zkrew.red/rescaler/" />
    <meta property="og:image" content="/assets/rescaler-poster.png" />
    <style>
        /* latin */
        @font-face {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url(https://cdn.fonts.coollabs.io/roboto/normal/400.woff2)
                format("woff2");
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
                U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
                U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        /* latin */
        @font-face {
            font-family: "Roboto Mono";
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url(https://cdn.fonts.coollabs.io/roboto-mono/normal/400.woff2)
                format("woff2");
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
                U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
                U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
    </style>
</head>
