---
const url = Astro.site
---

<header>
	<h1>reScaler</h1>
	<h2>Quick SVG Icon Resizer</h2>
	<p class="promote">
		<a href="https://github.com/zkrew-red/myscale" target="_blank">Source</a><a
			href={'https://twitter.com/intent/tweet?url=' +
				url +
				'&hashtags=rescaler/svg/iconresizer/svgtopng&related=webkul&text=reScaler%20-%20Quick%20SVG%20Icon%20Resizer%20%40webkul'}
			target="_blank">Tweet</a
		>
	</p>
</header>
